<% provide(:title, "メール設定")%>
<%=render("shared/edit_user_sidebar.html.erb")%>
  <div class="col-md-8">
    <div class="card card_top">
      <div class="card-body">
        <%= form_for(@user, url: "/email_resets/#{@user.id}/create", method: :post,html: { class: "form-horizontal" }) do |f| %>
          <%= render 'shared/error_messages' %>
          <%= f.hidden_field :id%>
          <div class="cols-sm-10">
            <% if @failed_submit == 1 %>
              <p class="small text-danger">変更後のメールアドレスを入力してください。</p> 
            <% end %>
            <h5 class="strong">メールアドレスを変更する</h5>
            <p class="small text-secondary">変更するメールアドレスを入力してください。<br>入力したメールアドレス宛にメールを送信します。</p>
          </div>
          <div class="form-group">
            <%= f.label :email,"メールアドレス（必須）", class: "cols-sm-2 control-label" %>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                <%= f.text_field :email , class: "form-control", placeholder: "example@example.com", type: "email" %>
              </div>
            </div>
          </div>
          <div class="cols-sm-10">
            <div class="form-group ">
              <%= f.submit 'メール変更', class: "btn btn-success" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>