<% provide(:title, "#{@drama.title}-ドラマ情報・レビュー・評価")%>
<div class="row mt-3">
  <div class="col-md-3 movie_image">
    <% if @drama.picture.nil?%>
      <%= image_tag 'no_image.jpg', size: "260x364" %>
    <%else%>
      <%= image_tag @drama.picture, size: "260x364"%>
    <% end %>
    <div class="btn-group mt-2 review_btns_show" role="group" aria-label="Basic example">
      <% if logged_in? %>
        <% unless @review.nil? %>
          <%= link_to edit_drama_review_path(@drama, @review), class: "btn btn-outline-light pl-5 pr-5 btn-on" do %>
            <i class="far fa-eye fa-2x"></i> <br>
            <%= @reviews.count %>
          <% end %>
        <% else %>
          <%= link_to new_drama_review_path(@drama), class: "btn btn-outline-light pl-5 pr-5 btn-off" do %>
            <i class="far fa-eye fa-2x"></i> <br>
            <%= @reviews.count %>
          <% end %>
        <% end %>
        <%= link_to "#", class: "btn btn-outline-light pl-5 pr-5 btn-on" do%>
          <i class="fas fa-layer-group fa-2x"></i> <br>
          0
        <% end %>
      <% end %>
    </div> 
  </div>
  <div class="col-md-9 movie_show_text">
    <h5 class="font-weight-bold"><%=@drama.title%>　
    <span class="small font-weight-bold">（<%= link_to "#{@drama.release.year}年", "/dramas/list/year/#{@drama.release.year}" %>製作のドラマ）</span></h5>
    <p>
      <span class="font-weight-bold">上映日：</span><%= "#{@drama.release.year}年#{@drama.release.mon}月#{@drama.release.day}日"%> ／
      <span class="font-weight-bold">製作国：</span><%= link_to @drama.production, "/dramas/list/production/#{@drama.production_translation}"%> 
    </p>
    <p>
      <span class="font-weight-bold">ジャンル：</span><%= link_to @drama.genre, "/dramas/list/genre/#{@drama.genre_translation}"%>
    </p>
    <p class="star">
      <span id="star-rate-<%= @drama.id %>"></span>
      <script>
        $('#star-rate-<%= @drama.id %>').raty({
          size: 100,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          half: true,
          readOnly: true,
          score: <%= @average_star %>,
        });
      </script> 
      <span class="star-text">
        <% if @average_star != 0 %>
          <%= @average_star %> 
        <% else %>
          <span class="small">評価はまだありません</span>
        <% end %>
      </span>
    </p>
    <div class="row">
      <div class="col-md-auto">
        <p class="mt-2"><span class="font-weight-bold">監督</span></p>
        <% director_ids = @drama.drama_casts.where(relation: "director").select(:cast_id)%>
        <% Cast.where(id: director_ids).each do |director| %>
          <%= link_to director.name, "/casts/drama/#{director.id}", class: "btn btn-light btn-sm cast_name mt-1" %>
        <% end %>
      </div>
      <div class="col-md-auto">
        <p class="mt-2"><span class="font-weight-bold">脚本</span></p>
        <% writer_ids = @drama.drama_casts.where(relation: "writer").select(:cast_id)%>
        <% Cast.where(id: writer_ids).each do |writer| %>
          <%= link_to writer.name, "/casts/drama/#{writer.id}", class: "btn btn-light btn-sm cast_name mt-1" %>
        <% end %>
      </div>
    </div>
    <p class="mt-3"><span class="font-weight-bold">出演者</span></p>
    <% actor_ids = @drama.drama_casts.where(relation: "actor").select(:cast_id)%>
    <% actor_ids.each do |actor_id| %>
      <% actor = Cast.find(actor_id.cast_id) %>
      <%= link_to actor.name, "/casts/drama/#{actor.id}", class: "btn btn-light btn-sm cast_name mt-2 mr-1" %>
    <% end %>
  </div>
</div>
<div class="col-md-8　mx-auto">
  <div class="card card_top">
    <div class="card-header text-secondary"><%="「#{@drama.title}」に投稿された感想・評価" %></div>
    <div class="card-body movie_list">
      <%=render @reviews %>
      <%= paginate @reviews, theme: 'twitter-bootstrap-4'%>
    </div>
  </div>
</div>