<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 cover-img" style="background-image:url('https://images.pexels.com/photos/806880/pexels-photo-806880.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
			<div class="cover-text text-center ">
			  <div class="display-4 font-weight-bold" style="color: orange;">
          国内最大級の映画・ドラマレビューサービス
        </div>
				<h1 style="color: sandybrown;">見たい作品がきっと見つかる</h1>
			</div>
		</div>
	</div>
</div>
<div class="col-md-12 mt-5">
    <div class="card card_top">
      <div class="card-header text-center font-weight-bold home-card-top">おすすめ映画</div>
			<div class="row">
				<%= @movies.each do |movie|%>
					<div class="col-md-2 mx-auto movie_image home-movie">
						<div class="row">
					    <% if movie.picture.nil?%>
					      <%= image_tag 'no_image.jpg', size: "220x330" %>
					    <% else %>
					      <%= image_tag movie.picture, size: "260x364"%>
					    <% end %>
					   </div>
					  <div class="row">
				    	<%= movie.title%>
				    </div>
					</div>
				<% end %>
		</div>
	</div>
</div>
<div class="col-md-12 mt-5">
    <div class="card card_top">
      <div class="card-header text-center font-weight-bold home-card-top">おすすめドラマ</div>
			<div class="row">
				<%= @dramas.each do |drama|%>
					<div class="col-md-2 mx-auto movie_image home-movie">
						<div class="row">
					    <% if drama.picture.nil?%>
					      <%= image_tag 'no_image.jpg', size: "220x330" %>
					    <% else %>
					      <%= image_tag drama.picture, size: "260x364"%>
					    <% end %>
					   </div>
					  <div class="row">
				    	<%= drama.title%>
				    </div>
					</div>
				<% end %>
		</div>
	</div>
</div>

