<% provide(:title, "ログイン") %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card card_top">
        <div class="card-header">登録・ログイン</div>
        <div class="card-body">
          <% if @page_view == 0 || @page_view == 1%>
            <p class="login_title">メールアドレスでログイン</p>
            <% if @page_view == 1 %>
              <p class="small text-danger">メールアドレスもしくはパスワードが不正です</p> 
            <% end %>
            <%= form_for(:session, url:login_path,html: { class: "form-horizontal" }) do |f| %>
              <div class="form-group">
                <%= f.label :email, "メールアドレス", class: "cols-sm-2 control-label"  %>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                      <%= f.text_field :email , class: "form-control", placeholder: "example@example.com", type: "email" %>
                    </div>
                  </div>
              </div>
              <div class="form-group">
                <%= f.label :password, "パスワード", class: "cols-sm-2 control-label"  %>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                    <%= f.text_field :password , class: "form-control", placeholder: "パスワードを入力してください", type: "password" %>
                  </div>
                  <%= link_to "パスワードを忘れてしまった方はこちら", "#", class: "small text-success" %>
                </div>
              </div>
              <div class="form-group mt-4">
                <%= f.label :remember_me, class: "checkbox inline" do %>
                  <%= f.check_box :remember_me %>
                  <span>ログイン情報を記憶する</span>
                <% end %>
                <%= f.submit "ログイン", class: "btn btn-secondary btn-lg btn-block login-button" %>
              </div>
            <% end %>
          <% end %>
          <% if @page_view == 0 || @page_view == 2%>
            <p class="login_title mt-5">メールアドレスで登録</p>
            <% if @page_view == 1 %>
              <p class="small text-danger">メールアドレスが不正です</p> 
            <% end %>
            <%= form_for(:session, url:"#",html: { class: "form-horizontal" }) do |f| %>
              <div class="form-group">
                <%= f.label :email, "メールアドレス", class: "cols-sm-2 control-label"  %>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                    <%= f.text_field :email , class: "form-control", placeholder: "example@example.com", type: "email" %>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <%= f.submit "会員登録をする", class: "btn btn-success btn-lg btn-block login-button" %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>  
</div>