<div class="row">
  <div class="col-md-auto profile-image">
    <%= gravatar_for @user %>
  </div>
  <div class="col-md-auto profile-text">
    <h2>
      <%= @user.nickname%>
      <span><%= "@" + @user.name %></span>
    </h2>
    <small>
      <%= simple_format(@user.profile) %>
    </small>
  </div>
  <div class="col-md float-right ">
    <% if current_user?(@user) %>
      <%= link_to "プロフィール編集", "/users/#{@user.id}/edit_user_prof", class: "btn btn-secondary profile_edit_btn" %>
    <% else %>
      <div class="mt-3">
        <%= render partial:'follow_form', locals:{user: @user} %>
      </div>
    <% end %>
  </div>
</div>