<% provide(:title, "アカウント情報")%>
<%=render("shared/edit_user_sidebar.html.erb")%>
  <div class="col-md-8">
    <div class="card card_top">
      <div class="card-header text-center font-weight-bold">非公開情報</div>
      <ul class="list-group">
        <%=link_to "/email_resets/#{@user.id}/new", class:"list-group-item list-group-item-action" do%>
          メールアドレス<span class="float-right text-secondary"><%=@user.email%> ></span> 
        <% end %>
        <li class="list-group-item edit_disable_bg">
          性別
          <span class="float-right">未設定</span>   
        </li>
        <li class="list-group-item edit_disable_bg">
          生年月日
          <span class="float-right">未設定</span>  
        </li>
        <%=link_to "/users/#{@user.id}/edit_user_password", class:"list-group-item list-group-item-action" do%>
          パスワードを変更<span class="float-right text-secondary">></span> 
        <% end %> 
        <%=link_to "/users/#{@user.id}/withdraw", class:"list-group-item list-group-item-action" do%>
          退会する<span class="float-right text-secondary">></span> 
        <% end %> 
      </ul>
    </div>
  </div>
</div>