<% provide(:title, "プロフィール編集")%>
<%=render("shared/edit_user_sidebar.html.erb")%>
  <div class="col-md-8">
    <div class="card card_top">
      <div class="card-body">
        <%= form_for(@user, url:"/users/#{@user.id}/edit_user_prof",html: { class: "form-horizontal" }) do |f| %>
          <%= render 'shared/error_messages' %>
          <div class="cols-sm-10">
            <h6 class="strong">Kamarks ID</h6>
            <h6 class="text-secondary"><%= @user.name %></h6>
          </div>
          <div class="form-group">
            <%= f.label :nickname, "ニックネーム（必須）", class: "cols-sm-2 control-label"  %>
            <div class="cols-sm-10">
              <div class="input-group">
                <%= f.text_field :nickname , class: "form-control", value: @user.nickname%>
              </div>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :profile, "プロフィール", class: "cols-sm-2 control-label"  %>
            <div class="cols-sm-10">
              <div class="input-group">
                <%= f.text_area :profile , class: "form-control", value: @user.profile, rows:11%>
              </div>
            </div>
          </div>
          <div class="cols-sm-10">
            <div class="form-group ">
              <%= f.submit '変更内容を保存する', class: "btn btn-success" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
  