<% provide(:title, "メンバー登録")%>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card card_top">
        <div class="card-header">メンバー登録（入力）</div>
        <div class="card-body">
          <%= form_for(@user, url:confirm_path,html: { class: "form-horizontal" }) do |f| %>
            <%= render 'shared/error_messages' %>
            <div class="form-group">
              <%= f.label :name, "Filmarks ID (15文字以内)", class: "cols-sm-2 control-label"  %>
              <p class="small text-secondary">登録後に変更はできません</p>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                  <%= f.text_field :name , class: "form-control", placeholder: "Filmarks" %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :email, "メールアドレス",  class: "cols-sm-2 control-label" %>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                  <%= f.text_field :email , class: "form-control", placeholder: "example@example.com", type: "email" %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :password, "パスワード（半角英数字5文字以上）", class: "cols-sm-2 control-label"  %>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                  <%= f.text_field :password , class: "form-control", placeholder: "パスワードを入力してください", type: "password" %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :password_confirmation, "パスワード確認", class: "cols-sm-2 control-label"  %>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                  <%= f.text_field :password_confirmation , class: "form-control", placeholder: "パスワードを入力してください", type: "password"%>
                </div>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :nickname, "ニックネーム（15文字以内）", class: "cols-sm-2 control-label"  %>
              <p class="small text-secondary">後で変更することも可能です</p>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                  <%= f.text_field :nickname , class: "form-control", placeholder: "フィルマークス" %>
                </div>
              </div>
            </div>
            <div class="form-check border-top agreement_check">
              <div class="cols-sm-10">
                <%= f.label :agreement, "利用規約とプライバシーポリシーに同意する", class: "form-check-label" %>
                <%= f.check_box :agreement, :as => :boolean, class: "form-check-input, checked:false "%>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-6">
                <%= link_to "利用規約", "#", class: "btn btn-secondary btn_agreement" %>
              </div>
              <div class="col-md-6">
                <%= link_to "プライバシーポリシー", "#", class: "btn btn-secondary btn_agreement" %>
              </div>
            </div>
            <div class="form-group ">
              <%= f.submit "入力内容を確認する", class: "btn btn-success btn-lg btn-block login-button" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>