<% provide(:title, "#{@user.nickname}さんの映画レビュー")%>
<%= render 'show_profile'%>
<div class="d-flex justify-content-center mt-5 mb-4">
  <div class="btn-group" role="group" aria-label="Basic example">
    <%= link_to "映画", "#", class: "btn btn-dark pl-4 pr-4" %>
    <%= link_to "ドラマ", "#", class: "btn btn-secondary pl-3 pr-3" %>
  </div>
</div>
<div class="d-flex justify-content-center mt-5 mb-4">
  <div class="btn-group" role="group" aria-label="Basic example">
    <%= link_to @user, class: "btn btn-secondary pl-5 pr-5" do%>
      <i class="far fa-eye"></i> <br>
      <%= "0" %>
    <% end %>
    <%= link_to "#", class: "btn btn-outline-secondary pl-5 pr-5" do%>
      <i class="fas fa-layer-group"></i> <br>
      <%= "0" %>
    <% end %>
    <%= link_to "#", class: "btn btn-outline-secondary pl-5 pr-5" do%>
      <i class="far fa-heart"></i> <br>
      <%= "0" %>
    <% end %>
    <%= link_to followers_user_path(@user), class: "btn btn-outline-secondary pl-3 pr-3" do%>
      followers <br>
      <%= @user.followers.count %>
    <% end %>
    <%= link_to following_user_path(@user), class: "btn btn-outline-secondary pl-3 pr-3" do%>
      following <br>
      <%=@user.following.count %>
    <% end %>
  </div>
</div>
