<div class="card card_top">
  <div class="card-header text-center font-weight-bold"><%=yield(:title)%></div>
</div>
<div class="row">
  <div class="col-md-4 mt-4">
    <ul class="list-group">
      <li class="list-group-item list-group-item-secondary text-center"><strong>ドラマを探す</strong></li>
      <% if yield(:title) == "放送中のドラマ" %>
        <%=link_to dramas_list_now_path, class:"list-group-item list-group-item-action bg-secondary" do%>
          放送中のドラマ<span class="float-right text-secondary">＞</span> 
        <% end %>
      <%else%>
        <%=link_to dramas_list_now_path, class:"list-group-item list-group-item-action" do%>
          放送中のドラマ<span class="float-right text-secondary">＞</span> 
        <% end %>
      <% end %>
      <% if yield(:title) == "レンタル開始予定のドラマ" %>
        <%=link_to dramas_list_rental_coming_path, class:"list-group-item list-group-item-action bg-secondary" do%>
          レンタル開始予定のドラマ<span class="float-right text-secondary">＞</span> 
        <% end %>
      <%else%>
        <%=link_to dramas_list_rental_coming_path, class:"list-group-item list-group-item-action" do%>
          レンタル開始予定のドラマ<span class="float-right text-secondary">＞</span> 
        <% end %>
      <% end %>
      <% if yield(:title) == "レンタル" %>
        <%=link_to dramas_list_rental_now_path, class:"list-group-item list-group-item-action bg-secondary" do%>
          レンタル<span class="float-right text-secondary">＞</span> 
        <% end %>
      <%else%>
        <%=link_to dramas_list_rental_now_path, class:"list-group-item list-group-item-action" do%>
          レンタル<span class="float-right text-secondary">＞</span> 
        <% end %>
      <% end %>
      <% if yield(:title) == "今話題のおすすめドラマ" %>
        <%=link_to "#", class:"list-group-item list-group-item-action bg-secondary" do%>
          今話題のおすすめドラマ<span class="float-right text-secondary">＞</span> 
        <% end %>
      <%else%>
        <%=link_to "#", class:"list-group-item list-group-item-action" do%>
          今話題のおすすめドラマ<span class="float-right text-secondary">＞</span> 
        <% end %>
      <% end %>
      <%=link_to "/dramas/list/year/2019", class:"list-group-item list-group-item-action" do%>
        製作年（年代）<span class="float-right text-secondary">＞</span> 
      <% end %>
      <%=link_to "/dramas/list/production/america", class:"list-group-item list-group-item-action" do%>
        製作国<span class="float-right text-secondary">＞</span> 
      <% end %>
      <%=link_to "/dramas/list/genre/suspense", class:"list-group-item list-group-item-action" do%>
        ジャンル<span class="float-right text-secondary">＞</span> 
      <% end %>
    </ul>
  </div>