<% user = review.user%>
<div class="card mb-4">
  <div class="card-body">
    <div class="row">
      <div class="col-md-2 movie_image">
        <% if user.picture.nil?%>
          <%= gravatar_for user %>
        <%else%>
          <%= image_tag user.picture, size: "150x200"%>
        <% end %>
      </div>
      <div class="col-md-8">
        <h5 class="card-text font-weight-bold"><%="#{user.nickname}の感想・評価"%></h5>
          <p class="card-text text-secondary"><%=review.create_date%></p>
          <p class="card-text text-secondary"><%="評価：#{review.star}"%></p>
          <div id="star-rate-<%= review.id %>" class="star-font"></div>
          <script>
            $('#star-rate-<%= review.id %>').raty({
              size: 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              half: true,
              readOnly: true,
              score: <%= review.star %>,
            });
          </script>  
        </div>
      </div>  
    <%=review.comment%>
  </div>
</div>