<footer>
 <div class="container footer_font">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <span class="logo">Kamarks</span>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="movie">
          <span>映画を探す</span>    
          <li><%=link_to "上映中の映画", movies_list_now_path %></li>
          <li><%=link_to "レンタル開始予定の映画", movies_list_rental_coming_path%></li>
          <li><%=link_to "レンタル", movies_list_rental_now_path%></li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="drama">
          <span>ドラマを探す</span>       
            <li class="header_list"><%=link_to "放送中のドラマ", dramas_list_now_path%></li>
            <li class="header_list"><%=link_to "放送予定のドラマ", dramas_list_rental_coming_path%></li>
            <li class="header_list"><%=link_to "レンタル", dramas_list_rental_now_path%></li>
        </ul>
      </div>
    </div> 
  </div>
</footer>