<footer>
 <div class="container footer_font">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <span class="logo">Kamarks</span>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="movie">
          <span>映画を探す</span>    
          <li><%=link_to "上映中の映画", '#'%></li>
          <li><%=link_to "公開予定の映画", '#'%></li>
          <li><%=link_to "レンタル", '#'%></li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="drama">
          <span>ドラマを探す</span>       
          <li><%=link_to "放送中のドラマ", '#'%></li>
          <li><%=link_to "放送予定のドラマ", '#'%></li>
          <li><%=link_to "レンタル", '#'%></li>
        </ul>
      </div>
    </div> 
  </div>
</footer>