<header>
    <div class="container">
      <nav class="navbar navbar-dark bg-dark fixed-top">
        <%= link_to "Kamarks", root_path, id: "logo" , class: "navbar-brand"%>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" 
                  id="dropdownMenuButton" 
                  data-toggle="dropdown" 
                  aria-haspopup="true" 
                  aria-expanded="false">映画
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <%=link_to "上映中の映画", movies_list_now_path, class:"dropdown-item"%>
            <%=link_to "レンタル開始予定の映画", movies_list_rental_coming_path, class:"dropdown-item"%>
            <%=link_to "レンタル", movies_list_rental_now_path, class:"dropdown-item"%>
          </div>
        </div>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" 
                  id="dropdownMenuButton" 
                  data-toggle="dropdown" 
                  aria-haspopup="true" 
                  aria-expanded="false">ドラマ
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li class="header_list"><%=link_to "放送中のドラマ", dramas_list_now_path%></li>
            <li class="header_list"><%=link_to "放送予定のドラマ", dramas_list_rental_coming_path%></li>
            <li class="header_list"><%=link_to "レンタル", dramas_list_rental_now_path%></li>
          </div>
        </div>
        <button class="navbar-toggler" type="button"
                data-toggle="collapse"
                data-target="#navmenu1"
                aria-controls="navmenu1"
                aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navmenu1">
          <div class="navbar-nav">
            <% if logged_in? %>
              <%=link_to "マイページ", current_user, class:"nav-item nav-link"%>
              <%=link_to "プロフィール編集", "/users/#{current_user.id}/edit_user_prof", class:"nav-item nav-link"%>
              <%=link_to "ログアウト", logout_path, method: :delete, class:"nav-item nav-link"%>
            <% else %>
              <%=link_to "会員登録", send_activation_email_path, class:"nav-item nav-link"%>
              <%=link_to"ログイン", login_path, class:"nav-item nav-link"%>
            <% end %>
            <%= link_to "ユーザーを探す", users_path, class: "nav-link" %>
            <%= link_to "FILMAGA", "#", class: "nav-item nav-link" %>
            <%=link_to "Kamarksの楽しみ方", about_path, class:"nav-item nav-link"%>
            <%=link_to "ヘルプ", help_path, class:"nav-item nav-link"%>
          </div>    
        </div>
      </nav>
    </div>
</header>