<!DOCTYPE html>
<html>
  <head>
    <title><%=full_title(yield(:title))%></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%=render("layouts/shim.html.erb")%>
  </head>
  <body>
  <%=render("layouts/header.html.erb")%>
  <% if yield(:title).empty? %>
    <div class="root">
      <%= yield %>
    </div>
  <% else %>
    <div class="container non-root">
      <%= yield %>
    </div>
  <% end %>
  <%=render("layouts/footer.html.erb")%>
  </body>
</html>
