<!DOCTYPE html>
<html>
  <head>
    <title><%=full_title(yield(:title))%></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%=render("layouts/shim.html.erb")%>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
  <% if request.from_pc? %>
    <%=render("layouts/pc-header.html.erb")%>
  <% else %>
    <%=render("layouts/smartphone-header.html.erb")%>
  <% end %>
  <%=render("shared/flash.html.erb")%>
  <%if !yield(:title).empty?%>
    <div class="container">
  <%end%>
  <%= yield %>
  </div>
  <%=render("layouts/footer.html.erb")%>
  </body>
</html>
